@import 'variables';
@import 'base';
@import 'navbar';
@import 'footer';
@import 'forms';

// Estilos específicos para página "nosotros"
.datos_contacto {
    text-align: justify;
}

.listas-servicios {
    margin: 20px;
}

.carousel-item img {
    object-fit: cover;
    height: 500px;
}

#carouselExampleCaptions {
    margin: $spacing-medium;
}

