// Colores
$bg-color: #6c757d;
$text-color: rgba(255, 255, 255, 0.842);
$dark-bg: #191c1f;
$primary-blue: #007bff;
$hover-blue: #0056b3;
$white: aliceblue;

// Tamaños
$logo-width: 200px;
$icon-size: 30px;
$spacing-medium: 30px;
$spacing-small: 15px;